.hero{
    min-height: 100vh;
    background:linear-gradient(rgba(68, 63, 101, 0.037),rgba(17, 17, 111, 0.429)),url(../assests/school\ .jpg);
    object-fit: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items:center;
    justify-content:center;
    position:relative
    overflow: hidden;
}

.hero-content{
    max-width:600px;
    color:white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.hero-title{
    color:black;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 16px;
}
.hero-subtitle{
    color:black;
    font-size: 19px;
    margin-bottom: 32px;
}
.hero-buttons{
    display: flex;
    gap: 16px;
}
.btn{
    padding: 12px 30px;
    border: none;
    border-radius: 50px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    transition:all 0.3s ease;
    font-size:16px;
}
.btn-primary{
    background: lightblue;
    color:white;
}
.btn-primary:hover{
background: #0073ff;
}
.btn-secondary{
    background: transparent;
    color:white;
    border: 2px solid white;
}
.btn-secondary:hover{
    background: white;
    color:blue;
}
.hero-image{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.floating-card{
    background: rgba(255,255,255,0.1);
    backdrop-filter:blur(10px);
    border: 1px solidrgba(80,78,78,0.2);
    border-radius: 20px;
    padding:32px;
    text-align: center;
    color:white;
}
.floating-card i{
    font-size: 48px;
    color:lightblue;
    margin-bottom:16px;
}
.floating-card h3{
    font-size:24px;
    margin-bottom: 8px;
}
